

header {
    /* La hauteur est de 300px */
    height: 50px;
    min-width: 50%;
    max-width: 90%;
    font-size:50px;
    text-align :center;
    padding: 200px;
    padding-top:0px;
    background-image: url("moderbord.png");
    color: white

    }

body {
      margin: 10px;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #cccccc;
    }

    .topnav {
      overflow: hidden;
      background-color: #7aa4e9;
      border: groove 1em #123c7085;
      border-radius: 30px;

    }
    
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: #1e38d2;
      color: white;
    }
h1{
    text-align: center
}
h2 {
    text-align: center;

}
h3{

font-size: 2em
}

div {
    margin-left:50px;
}


section {
    text-align: center;

}



aside{
    background: #a4aabb;
    border: groove 1em #123c7085;
    border-radius: 50% 20% / 10% 40%;
    margin-left:20%;
    margin-right:20%


}


iframe{
    width:50% ;
    height;500px;
    margin-left:25%
}
pre  {
   padding: 15px;
   border: 5px solid black;
   margin:20%;
   margin-bottom: 0px;
   margin-top: 40px;
   padding-top: 10px;
   padding-bottom:

}

p {
    margin: 50px



}

article{

    margin-top:20px;
    margin-left: 10%;
    margin-right:10%;
    padding: .3rem;

}
.blog-acceuil{
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;
    border: groove 1em #d1b6b6;  /* https://developer.mozilla.org/fr/docs/Web/CSS/border-radius */
    border-radius: 2em;

}

.page-acceuil{
     border: none;
    border-radius: 40px 10px;
    background: #999166;
    margin-top:10px;
    margin-left:20%;
    margin-right:20%;


}

.page-blog{
    border: none;
  border-radius: 40px 10px;
  background-color:#8d8889;


}
.page-article{
     border: none;
    border-radius: 40px 10px;
    background: #889aa1;
    margin:20px;
    margin-left:20%;
    margin-right:20%;
}
.titre-article{
         border: none;
    border-radius: 40px 10px;
    background: #8b87a9;
    margin-top:10px;
    margin-left:20%;
    margin-right:20%;

}

footer{
    background-color:#7aa4e9;
    text-align: center;
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom:50px;
    border: none; /* https://developer.mozilla.org/fr/docs/Web/CSS/border-radius */
    border-radius: 25% 10%;

}

nav {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #333;
    border: groove 1em #123c7085; /* https://developer.mozilla.org/fr/docs/Web/CSS/border-radius */
    border-radius: 25% 10%;
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.pagination li {
    margin: 0 1px;

}

a.isDisabled {
  pointer-events: none;
  color: blue;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;

}

a.menu-acceuil{
    pointer-events: none;
    background-color: #333;
}

.pagination a[aria-current="page"] {
    background-color: #333;
    color: #fff;
    background-color: #8080804d

}
.pagination a {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #999;
    border-radius: 0.2em;
    text-decoration: none;
}


li {
    text-align: -webkit-match-parent;

        font-size: 1.5em
}

.alerte{
    background-color: yellow;
    text-size:40px;
    text-align: center;
    width:80%;
    border: 2px solid red;
    margin-left: 10%;
    margin-right: 15%;
}
