section {
    /* Nos sections sont des carrés de taille 300x300 pixels */

    }

header {
    /* La hauteur est de 300px */
    height: 50px;
    min-width: 50%;
    max-width: 90%;
    font-size:40px;
    text-align :center;
    padding: 200px;
    padding-top:0px;
    background-color:#ffe6005c;



    }

body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .topnav {
      overflow: hidden;
      background-color: darksalmon;
    }
    
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: chocolate;
      color: white;
    }
h1{
    text-align: center
}
h2 {
    text-align: center;


}
section {
    text-align: center;
}
iframe{
    width:50% ;
    height;500px;
    margin-left:25%
}
pre  {
   padding: 15px;
   border: 5px solid black;
   top-margin:0px;
   margin:30%;
   margin-bottom: 0px;
   margin-top: 40px;
   padding-top: 10px;
   padding-bottom:

}

p {
    margin: 50px



}

article{
    background-color:pink;
    margin: 30px;
    padding: .3rem;
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;

}

footer{
    background-color:pink;
    text-align: center;
    margin-top: 50px
}

nav {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #333;
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.pagination li {
    margin: 0 1px;

}

a.isDisabled {
  pointer-events: none;
  color: blue;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;

}

a.menu-acceuil{
    pointer-events: none;
    background-color: #333;
}

.pagination a[aria-current="page"] {
    background-color: #333;
    color: #fff;
    background-color: #8080804d

}
.pagination a {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #999;
    border-radius: 0.2em;
    text-decoration: none;
}


li {
    text-align: -webkit-match-parent;
}

body {
    background-color: #fff;
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}