<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/index.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Acceuil</title>
    <link rel="icon" type="image/x-icon" href="/static/penguin.png">
</head>

<body>

    <div class="topnav">
        <a href= "/"><i class="fa fa-fw fa-home"></i>Acceuil</a>
        <a href="/construire/">Construire un ordinateu</a>
        <a href="/blog/1">Blog</a>
        <a href="/glossaire/">Glossaire</a>
        <a class="active" href="/contact/"><i class="fa fa-fw fa-envelope"></i>Contact</a>
    </div>
    <header>
        <h1>OdrinaLand</h1>
        <p>La référence en matière d'ordinateurs</p>
    </header>
    <br><br>
    <h3>Votre ordinateur</h3>
    <br>
    <ul>
        <li>{{case}}</li>
        <br>
        <li>{{motherboard}}</li>
        <br>
        <li>{{cpu}}</li>
        <br>
        <li>{{storage}}</li>
        <br>
        <li>{{cooling}}</li>
        <br>
        <li>{{ram}}</li>
        <br>
        <li>{{power}}</li>
        <br>
        <li>{{keyboard}}</li>
        <br>
        <li>{{mouse}}</li>
        <br>
        <li>{{monitor}}</li>
    </ul>
    <h3>Sous-total: {{sous_total}}$</h3>
    <h3>Taxes: {{taxes}}$</h3>
    <h3>Livraison: {{livraison}}$</h3>
    <h1>Total: {{total}}</h1>

    <br>
    <br>
    <br>
    <footer>{{annee}}-Ordinaland</footer>
</body>
</html>
