<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/index.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Acceuil</title>
    <link rel="icon" type="image/x-icon" href="/static/penguin.png">
</head>

<body>

    <div class="topnav">
        <a href= "/"><i class="fa fa-fw fa-home"></i>Acceuil</a>
        <a href="/construire/">Construire un ordinateur</a>
        <a href="/blog/1">Blog</a>
        <a href="/glossaire/">Glossaire</a>
        <a class="active" href="/contact/"><i class="fa fa-fw fa-envelope"></i>Contact</a>
    </div>
    <header>
        <h1>OrdinaLand</h1>
        <p>La référence en matière d'ordinateurs</p>
    </header>

     </div>
    <div class="alerte">
       {% if err == True %}
           <h1> Votre ordinateur est incomplet </h1>
            <h1> Vous avez {{var_form_construire|length}} article dans votre panier </h1>
       {% endif %}
    </div>
    <br>
    <br>
    <h3>Votre Panier</h3>
    <br>
    {% for cle in var_form_construire %}
    <ul><h3>{{cle.capitalize()}}</h3></ul><br>
    <ul>
        <li>{{var_form_construire[cle].description}}</li>
        <ul><li>{{var_form_construire[cle].prix}}$</li></ul>
        <br>
     </ul>
    {% endfor %}

    <h3>Sous-total: {{sous_total}}$</h3>
    <h3>Taxes: {{taxes}}$</h3>

    {%if livraison == 0 %}
        <h3>Ramassage en magasin</h3>
       <br>
    {% else %}
      <h3>Livraison: {{livraison}}$</h3>
    {% endif %}

    <h1>Total: {{total}} $</h1>

    <br>
    <br>
    <br>
    <footer>{{annee}}-Ordinaland</footer>
</body>
</html>
