<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/index.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Article</title>
    <link rel="icon" type="image/x-icon" href="/static/penguin.png">
</head>

<body>


    <div class="topnav">
        <a href= "/"><i class="fa fa-fw fa-home"></i>Acceuil</a>
        <a href="/construire/">Construire un ordinateu</a>
        <a href="/blog/1">Blog</a>
        <a href="/glossaire/">Glossaire</a>
        <a href="/contact/"><i class="fa fa-fw fa-map-marker"></i>Contact</a>
    </div>
    <header>
        <h1>OdrinaLand</h1>
        <p>La référence en matière d'ordinateurs</p>
    </header>
    <section>
        <article class="titre-article">
    <h3>{{articles[nb].titre}} </h3>
    <p2>Publié le {{articles[nb].date}}<br><small>{{articles[nb].temps_lecture()}}</small></p2>
        </article>
    </section>

    <section><img src="/static/{{articles[nb].image}}" alt="image">

    <article class="page-article">
        {%for i in articles[nb].tableau_paragraphes()%}
           <p> {{i}} </p>
        {%endfor%}
    </article>
    </section>
    <section>
        <h3>Plus d'articles...</h3>

        {% if nb >0 %}
            <a href=/article/{{nb }}>Article précédent :{{articles[nb-1].titre}}</a>
        {% endif %}

        {% if nb < (articles|length)-1 %}
            <a href=/article/{{nb + 2}}>Article suivant :{{articles[nb+1].titre}}</a>
        {% endif %}
    </section>
    <section>
   <footer>{{annee}}-Ordinaland</footer>
    </section>
</body>
</html>
