<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/index.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Acceuil</title>
</head>

<body>



    <div class="topnav">
        <a href= "/"><i class="fa fa-fw fa-home"></i>Acceuil</a>
        <a href="/construire/">Construire un ordinateu</a>
        <a class="active" href="/blog/1">Blog</a>
        <a href= "/glossaire/">Glossaire </a>
        <a href="/contact/"><i class="fa fa-fw fa-envelope"></i> Contact</a>
    </div>

    <header>
        <h1>OdrinaLand</h1>
        <p>La référence en matière d'ordinateurs</p>
    </header>

    <section>
        {%for i in contenue :%}
        <p>{{i}}</p>
        {% endfor %}
    </section>


    <section>
        <!--https://betterprogramming.pub/simple-flask-pagination-example-4190b12c2e2e-->
         <!--https://docs.djangoproject.com/fr/4.1/topics/pagination/-->
        <!--https://www.w3schools.com/howto/howto_css_pagination.asp-->

        {% for i in page_active.object_list: %}
    {# Each "contact" is a Contact model object. #}
    <p>{{ i }}</p><br>
    ...
    {% endfor %}
        </section>
<div class="pagination">
    <span class="step-links">
        {% if page_active.has_previous %}

            <a href="/blog/1">&laquo; first</a>
            <a href="/blog/{{ page_precedente }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_active.number }} of {{ p.num_pages }}.
        </span>

        {% if page_active.has_next %}
            <a href="/blog/{{page_suivante}}">next</a>
            <a href="/blog/{{ page_active.paginator.num_pages }}">last &raquo;</a>
        {% else %}
            <a href="/blog/{{page_suivante}}">next</a>
            <a href="/blog/{{ page_active.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>



   <footer>{{annee}}-Ordinaland</footer>
</body>
</html>