<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/index.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Blog</title>
    <link rel="icon" type="image/x-icon" href="/static/penguin.png">
</head>

<body>



    <div class="topnav">
        <a> <span class="menu-acceuil">OdrinaLand</span></a>
        <a href= "/"><i class="fa fa-fw fa-home"></i>Acceuil</a>
        <a href="/construire/">Construire un ordinateur</a>
        <a class="active" href="/blog/1">Blog</a>
        <a href= "/glossaire/">Glossaire </a>
        <a href="/contact/"><i class="fa fa-fw fa-map-marker"></i> Contact</a>
    </div>

    <header>
        <h1>OdrinaLand</h1>
        <p>La référence en matière d'ordinateurs</p>

    </header>


    <section>



        {% for i in page_active : %}
            <article class="page-blog">

            <h1>{{i.titre}}</h1>
            <p>{{i.tableau_paragraphes()[0]}}</p>

            {% if i.tableau_paragraphes()|length >= 2 %}
                {{i.tableau_paragraphes()[1]}}
            {%endif%}

                <br>
            <a href= "/article/{{articles.index(i)+1}}">lire l'article </a>
            </article>

        {% endfor %}



    </section>

        <!--https://developer.mozilla.org/fr/docs/Web/CSS/Layout_cookbook/Pagination-->
<nav2 aria-label="pagination">
    <ul class="pagination">
        {% if page_active.has_previous() %}
        <li>
            <a href="/blog/{{ page_active.previous_page_number() }}"><span aria-hidden="true">«</span>
            <span class="visuallyhidden"></span>
            </a>
        </li>

        {% endif %}

        {% for i in range (page_active.paginator.num_pages): %}
        {% if page_active.number == i+1 %}
        <li>
            <a> <span class="isDisabled">{{page_active.number}} </span></a>

        </li>
        {% else %}

        <span class="visuallyhidden"></span></a></li>
        <li><a href=/blog/{{i+1}}><span class="visuallyhidden"> </span>{{i+1}}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_active.has_next() %}
        <li><a href="/blog/{{page_active.next_page_number()}}"><span class="visuallyhidden"></span><span aria-hidden="true">»</span></a></li>

        {% endif %}


    </ul>
</nav2>


   <footer>{{annee}}-Ordinaland</footer>
</body>
</html>