<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/index.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Acceuil</title>
</head>

<body>



    <div class="topnav">
        <a href= "/"><i class="fa fa-fw fa-home"></i>Acceuil</a>
        <a class="active" href="/construire/">Construire un ordinateur</a>
        <a href="/blog/">Blog</a>
        <a href= "/glossaire/">Glossaire</a>
        <a href="/contact/"><i class="fa fa-fw fa-envelope"></i>Contact</a>
    </div>
    <header>
        <h1>OdrinaLand</h1>
        <p>La référence en matière d'ordinateurs</p>
    </header>
   <footer>{{annee}}-Ordinaland</footer>
</body>
</html>