<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/index.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Construire-Ordinateur</title>
    <link rel="icon" type="image/x-icon" href="/static/penguin.png">
</head>

<body>



    <div class="topnav">
        <a href= "/"><i class="fa fa-fw fa-home"></i>Acceuil</a>
        <a class="active" href="/construire/">Construire un ordinateur</a>
        <a href="/blog/1">Blog</a>
        <a href= "/glossaire/">Glossaire</a>
        <a href="/contact/"><i class="fa fa-fw fa-map-marker"></i>Contact</a>
    </div>
    <header>
        <h1>OrdinaLand</h1>
        <p>La référence en matière d'ordinateurs</p>
    </header>

    <div>
    <h1>Monter votre ordinateur</h1>

    </div>
    <div class="alerte">
       {% if err == True %}
           <h1> {{message_erreur}} </h1>
       {% endif %}
    </div>
    <h2>Cette page sert d'assistant pour choisir les composantes de votre futur ordinateur</h2>
    <form action="/afficher-ordinateur" method="post">
    <div class="contenue">

            {% for cle in choix_composantes.keys() %}
                {% for i in glossaire %}
                    {% if i.terme == cle %}
                    <h3>{{cle.capitalize()}}<small> <a href="/glossaire/{{glossaire.index(i)}}">(description)</a></small>
                    {% endif %}
                {% endfor %}

            </h3>

                    {% for i in range(choix_composantes[cle]|length) %}
                        <br>
                         <input type="radio" id={{i}} name="{{cle}}" value={{i}}>
                         <label for={{i}}>{{choix_composantes[cle][i].description}}$-{{choix_composantes[cle][i].prix}}
                         <a href="{{choix_composantes[cle][i].lien}}">[voir]</a>
                         </label>
                         </br>

                {% endfor %}

        {% endfor %}

    <hr>
    <label for="codepostal">Pour ajouter la livraison, entrez votre code postal:</label>
    <input type="text" name="codepostal" id="codepostal" class="form control">
    <hr>
    <button class="btn btn-primary" type="submit" name="envoyer" id="envoyer" >Calculer le prix</button>
    </div>
    </form>


   <footer>{{annee}}-Ordinaland</footer>
</body>
</html>