<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/index.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Acceuil</title>
</head>

<body>
    <header>
        <h1>OdrinaLand</h1>
    </header>


    <div class="topnav">
        <a href= "/"><i class="fa fa-fw fa-home"></i>Acceuil</a>
        <a href="/construire/">Construire un ordinateu</a>
        <a href="/blog/">Blog</a>
        <a href="/glossaire/">Glossaire</a>
        <a class="active" href="/contact/"><i class="fa fa-fw fa-envelope"></i>Contact</a>
    </div>

    <h2>Pour nous contacter</h2>
    <p>Nos bureaux sont ouvert 7 jour sur 7, de 8h à 19h</p>
    <p>Passez nous voir !</p>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2794.81420165011!2d-73.62297708424519!3d45.53394433680755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc919235d51a801%3A0x5fab2080f6ce34f!2sAgora%20num%C3%A9rique%2C%20Coll%C3%A8ge%20de%20Bois-de-Boulogne!5e0!3m2!1sfr!2sca!4v1661213265294!5m2!1sfr!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


</body>
</html>
