<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/index.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Glossaire mot</title>
    <link rel="icon" type="image/x-icon" href="/static/penguin.png">
</head>
<body>
   <div class="topnav">
        <a href= "/"><i class="fa fa-fw fa-home"></i>Acceuil</a>
        <a href="/construire/">Construire un ordinateu</a>
        <a href="/blog/1">Blog</a>
        <a class="active" href="/glossaire/">Glossaire</a>
        <a href="/contact/"><i class="fa fa-fw fa-map-marker"></i>Contact</a>
    </div>
    <header>
        <h1>OrdinaLand</h1>
        <p>La référence en matière d'ordinateurs</p>
    </header>


    <div class="contenue">
        <h3>Définition: {{glossaire[nb].terme.capitalize()}}</h3>
        <p>{{glossaire[nb].texte}}</p>
        <br>
        <p>Source:<a href="{{glossaire[nb].source}}">{{glossaire[nb].source}}</a> </p>
        <br>
        <h3>Mots reliés</h3>


        {%for i in range (glossaire|length)%}
            {% for y in glossaire[nb].termes_relies()%}
                {% if y.terme == glossaire[i].terme %}
                <li><a href="/glossaire/{{i}}">{{y.terme.capitalize()}}</a></li>
                <br>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <br>
        <h3><a href="/glossaire">Revenir au Glossaire</a></h3>



    </div>



    <footer>{{annee}}-Ordinaland</footer>
</body>
</html>