<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/index.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Acceuil</title>
</head>


<body>


    <div class="topnav">
        <a class="active" href="/"><i class="fa fa-fw fa-home"></i>Acceuil</a>
        <a href= "/construire/">Construire un ordinateur</a>
        <a href="/blog/">Blog</a>
        <a href= "/glossaire/">Glossaire</a>
        <a href="/contact/"><i class="fa fa-fw fa-envelope"></i>Contact</a>
    </div>


    <header>
        <h1>OdrinaLand</h1>
        <p1>La référence en matière d'ordinateurs</p1>
    </header>

    <section>
        <pre>
        <h1>Première visite sur le site? </h1>
        <p>Faite un tour sur notre <a href= "/construire/">outil d'aide à monter un ordinateur</a></p>

        </pre>
    </section>
    <h1>Sur le Blog...</h1>
    <section>
        <pre>
            <h1>{{titre1}}</h1>
            <p>{{texte1}}</p>
        </pre>
    </section>
    <section>
        <pre>
            <h1>{{titre2}}</h1>
            <p>{{texte2}}</p>
        </pre>
    </section>
    <section>
        <pre>
            <h1>{{titre2}}</h1>
            <p>{{texte2}}</p>
        </pre>
    </section>
    <p><a href= "/blog/1">Voir tous les articles de blog</a></p>


   <footer>{{annee}}-Ordinaland</footer>
</body>
</html>