<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/index.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Acceuil</title>
</head>


<body>

     <!--https://www.w3schools.com/howto/howto_js_topnav.asp-->
    <div class="topnav">

        <a> <span class="menu-acceuil">OdrinaLand</span></a>
        <a class="active" href="/"><i class="fa fa-fw fa-home"></i>Acceuil</a>
        <a href= "/construire/">Construire un ordinateur</a>
        <a href="/blog/1">Blog</a>
        <a href= "/glossaire/">Glossaire</a>
        <a href="/contact/"><i class="fa fa-fw fa-map-marker"></i>Contact</a>
    </div>


    <header>
        <h1>OdrinaLand</h1>
        <p1>La référence en matière d'ordinateurs</p1>
    </header>

    <aside>

        <h1>Première visite sur le site? </h1>
        <p>Faite un tour sur notre <a href= "/construire/">outil d'aide à monter un ordinateur</a></p>

    <h1>Sur le Blog...</h1>

    </aside>

    <section>

    {% for i  in range (0,nombre_articles)  %}
        <article class="blog-acceuil">
            <h1>{{articles[i].titre}}</h1>
        {%for y in range (0,articles[i].tableau_paragraphes()|length)%}
            {% if y >= 2 %}
                {% for y in range (0,2) %}

                  <p> {{articles[i].tableau_paragraphes()[z]}}</p>

                {%endfor%}
            {% else %}

                <p>{{articles[i].tableau_paragraphes()[y]}}</p>
            {% endif %}
        {% endfor %}

    </article>
    {% endfor %}
    </section>







    <p><a href= "/blog/1">Voir tous les articles de blog</a></p>


   <footer>{{annee}} - Ordinaland</footer>
</body>
</html>